<h1>Editing task</h1>

<%= form_for [@project, @task], :html => { :method => :put} do |f| %>

<div>
  <%= f.label :name %> </br>
  <%= f.text_field :name %>
</div>

</br>      

<div>
  <%= f.label :description %> </br>
  <%= f.text_area :description %>
</div>

</br>      

<div>
  <%= f.label :start_date %> </br>
  <%= f.date_field :start_date, :value => Time.now.strftime("%Y-%m-%d") %>
</div>

<div>
  <%= f.label :due_date %> </br>
  <%= f.date_field :due_date, :value => Time.now.strftime("%Y-%m-%d") %>
</div>

<div>
  <%= f.label :complete %> </br>
  <%= f.check_box :complete %>
</div>

<div>
  <%= f.label :completed_at %> </br>
  <%= f.date_field :completed_at %>
</div>

<div>
  <%= f.label :visible_on_graphs %> </br>
  <%= f.check_box :visible_on_graphs %>
</div>

</br>      

  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h4>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Show', project_task_path(@project, @task) %> |
<%= link_to 'Back', project_tasks_path(@project) %>
