<h4>History</h4>
<% sets = @klass.klass_result_sets %>
<div class="row">
 <div class="col-md-6">
    <%= line_chart [
      {name: "Methods", data: sets.map{|s| [s.created_at, s.number_of_methods] }},
      {name: "Average Lines Per Method", data: sets.map{|s| [s.created_at, s.average_lines_per_method] }},
      {name: "Average Method Complexity", data: sets.map{|s| [s.created_at, s.average_method_complexity] }},
    ] %>
  </div>
 <div class="col-md-6">
    <%= line_chart [
      {name: "Lines", data: sets.map{|s| [s.created_at, s.number_of_lines] }},
    ] %>
  </div>
</div>
<div class="row">
 <div class="col-md-6">
    <%= line_chart [
      {name: "Total Variables", data: sets.map{|s| [s.created_at, s.variables] }},
      {name: "Public Variables", data: sets.map{|s| [s.created_at, s.public_variables] }},
      {name: "Protected Variables", data: sets.map{|s| [s.created_at, s.protected_variables] }},
      {name: "Private Variables", data: sets.map{|s| [s.created_at, s.private_variables] }},
    ] %>
  </div>
 <div class="col-md-6">
    <%= line_chart [
      {name: "LCOM", data: sets.map{|s| [s.created_at, s.LCOM] }},
      {name: "CBO", data: sets.map{|s| [s.created_at, s.CBO] }},
    ] %>
  </div>
</div>
<div class="row">
 <div class="col-md-6">
    <%= line_chart [
      {name: "Depth of Inheritance", data: sets.map{|s| [s.created_at, s.depth_of_inheritance] }},
    ] %>
  </div>
 <div class="col-md-6">
    <%= line_chart [
      {name: "WMC", data: sets.map{|s| [s.created_at, s.weighted_methods_per_class] }},
    ] %>
  </div>
</div>

