<h4>Latest figures</h4>
<% latest_figures = @klass.klass_result_sets.last %>
<div class="row">
 <div class="col-md-6">
    <%= pie_chart({"Public Variables" => latest_figures.public_variables,
                  "Protected Variables" => latest_figures.protected_variables,
                  "Private Variables" => latest_figures.private_variables}) %> 
  </div>
  
   <div class="col-md-6">
    <dl class="dl-horizontal dl-lower-me">
      <dt>Lines: <dt>
      <dd><%= latest_figures.number_of_lines%></dd>
      <dt>Methods: <dt>
      <dd><%= latest_figures.number_of_methods%></dd>
      <dt>Average Lines Per Method: <dt>
      <dd><%= sprintf '%.2f', latest_figures.average_lines_per_method %></dd>
      <dt>Average Method Complexity: <dt>
      <dd><%= sprintf '%.2f', latest_figures.average_method_complexity %></dd>
      <dt>Weighted Methods Per Class: <dt>
      <dd><%= sprintf '%.2f', latest_figures.weighted_methods_per_class %></dd>
      <dt>Standard Deviation: <dt>
      <dd><%= sprintf('%.2f', latest_figures.sdmc) %></dd>
      <dt>LCOM: <dt>
      <dd><%= sprintf('%.2f', latest_figures.LCOM) %></dd>
      <dt>CBO: <dt>
      <dd><%= sprintf('%.2f', latest_figures.CBO) %></dd>
      <dt>Depth of Inheritance: <dt>
      <dd><%= latest_figures.depth_of_inheritance %></dd>
    </dl>
  </div>
</div>
