<h3>Project Profile: <%= @project.name %></h3>

<button type="button" class="btn btn-primary hide-show-task">
<%= if @project.display_tasks
      link_to 'Hide Tasks', hide_tasks_for_project_path(@project), method: :update
    else
      link_to 'Show Tasks', display_tasks_for_project_path(@project), method: :update
    end
    %>
    </button>

<% if @project.klasses.any? %>
<%= render 'projects/partials/latest_figures' %>
<br>
<%= render 'projects/partials/history' %>
<br>
<%= render 'projects/partials/result_sets' %>
<br>
<%= render 'projects/partials/klasses' %>
<br>

<% else %>
<h4>No Classes</h4>
<br>
<br>
<% end %>
<%= render 'projects/partials/tasks' %>
<br>

<%= link_to 'New Task', new_project_task_path(@project) %>
<br>
<br>
<br>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
