<p id="notice"><%= notice %></p>

<h3>Project Profile: <%= @project.name %></h3>

<%= render 'projects/partials/latest_figures' %>
<br>
<%= render 'projects/partials/history' %>
<br>
<%= render 'projects/partials/result_sets' %>
<br>
<%= render 'projects/partials/klasses' %>
<br>
<%= render 'projects/partials/tasks' %>
<br>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
