<h3>Method Profile: <%= @methood.name %></h3>

<button type="button" class="btn btn-primary hide-show-task">
<%= if @methood.display_tasks
      link_to 'Hide Tasks', hide_tasks_for_methood_path(@methood), method: :update
    else
      link_to 'Show Tasks', display_tasks_for_methood_path(@methood), method: :update
    end
    %>
    </button>

<% if @methood.method_result_sets.any? %>

  <%= render "methoods/partials/latest_figures.html.erb" %>
  <br>
  <hr>
  <%= render "methoods/partials/history.html.erb" %>
  <hr>
  <br>
  <%= render "methoods/partials/result_sets.html.erb" %>

<% else %>
Nope

<% end %>
<br>
