<h3>Class Profile: <%= @klass.name %></h3>

<%= if @klass.display_tasks
      link_to 'Hide Tasks', hide_tasks_for_klass_path(@klass), method: :update
    else
      link_to 'Show Tasks', display_tasks_for_klass_path(@klass), method: :update
    end
    %>

<% if @klass.klass_result_sets.any? %>

  <%= render "klasses/partials/latest_figures.html.erb" %>
  <br>
  <hr>
  <%= render "klasses/partials/history.html.erb" %>
  <hr>
  <br>
  <%= render "klasses/partials/result_sets.html.erb" %>
  <hr>
  <br>
  <%= render "klasses/partials/methods.html.erb" %>
  <hr>
  <br>


<% else %>
Nope

<% end %>
<br>
<%= link_to 'Back', klasses_path %>
